!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %title HoneyGift
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Merriweather&display=swap", rel: "stylesheet", media: 'all'
    = stylesheet_link_tag    "https://fonts.googleapis.com/icon?family=Material+Icons", rel: "stylesheet", media: 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render "layouts/header"

    .container
      = yield :breadcrumb

    .container
      = yield

    = render "layouts/footer"
